body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item + .item {
    margin-top: 6px;
}
.item > span {
    white-space: nowrap;
    color: #222;
    font-size: 14px;
}
.item input[type=number],
.item input[type=text],
.item select {
    width: 70px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #cccccc;
}